<div class="prayerWatch">
	<div class="title">
		<span><%= prayerWatch.title %></span><br />
		<%= image_tag "line.png" %>
	</div>

	<div class="prayerWatchDescription">
		<%= prayerWatch.description %><br />
		<%= image_tag "line.png" %>
	</div>
</div>