<div class="title">
	<span>About</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<%= image_tag @data.image, :class => "imageMedium left" %>

		<p>
			<%= @data.description %>
		</p>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>