<div class="title">
	<span>Mission</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<p>
			<%= raw @data.description.gsub("\n", "<br />") %>
		</p>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>