<div class="title">
	<span>Sign Up</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<div class="contactForm">
			<%= render :partial => "users/form" %>
		</div>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>