<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to prayergalaxy.com, <%= @user.fullname %></h1>
    <p>
    	In order to complete your registration please validate your account
    	by clicking in the following link: 
    	<a href="<%= "beta.prayergalaxy.org/main/validateAccount/#{@user.id}/#{@user.activation_code}" %>">Validate your account</a>
    </p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>