<h1>Partners</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.description %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
  </tr>
<% end %>
</table>