<h1>Listing contact_pages</h1>

<table>
  <tr>
    <th>Email</th>
    <th></th>
  </tr>

<% @contact_pages.each do |contact_page| %>
  <tr>
    <td><%= contact_page.email %></td>
    <td><%= link_to 'Edit', edit_contact_page_path(contact_page) %></td>
  </tr>
<% end %>
</table>