<h1>Videos</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Video</th>
    <th></th>
    <th></th>
  </tr>

<% @videos.each do |video| %>
  <tr>
    <td><%= video.title %></td>
    <td><%= video.video %></td>
    <td><%= link_to 'Remove', video, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Video', new_video_path %>
