/********************************* Backend ************************************/

.backendContent{
	/*-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color:#76A6DC;	
	opacity:0.4;
	filter:alpha(opacity=40);*/
}

.backendContent h1{
	font-size:22px;
	color:#FDD967;
	display:block;
	border-bottom:#FFFFFF 1px dotted;
	width:100%;
	height:28px;
	margin:0px 0px 10px 0px;
}

.backendContent th{
	font-size:16px;
	padding-left:0px;
	text-align:left;
	padding:0px 20px 2px 0px;
}

.backendContent b{
	font-size:16px;
}

.backendContent td{
	padding:2px 20px 2px 0px;
}

.backendContent a{
	background:none;
	color:#FDD967;
	font-weight:bold;
}

.backendContent a:visited{
	background:none;
	color:#FDD967;
	font-weight:bold;
}

.backendContent a:hover{
	background:none;
	color:#FDD967;
	font-weight:bold;
}

#menuItemsBackend a{
	font-size:12px;
	color:#FDFDFD;
	text-decoration:none;
	background:none;
	font-weight:bold;
	margin:0px 26px 0px 0px;
}