// Place all the styles related to the store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$blue: #E3F0FB;

.bigPrice{
	font-size:18px;
	color:#FD7A10;
}

a.linkBuyNow{
	font-size:14px;
	color:#2D85E0;
	text-decoration:none;
	background:none;
}

.imageProduct{
	width:288px;
	height:192px;
}

#storeSearch{
	width:822px;
	height:45px;
	background-color:$blue;
	margin:10px auto 0px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;

	div{
		margin:8px 0px 0px 26px;
		position:relative;

		#searchGoButton{
			position:absolute;
			top:-5px;
			left:337px;
		}

		select{
			outline:none;
			display:block;
			width:336px;
			height:28px;
			background-color:#CDE8FD;
			-moz-border-radius: 22px;
			border-radius: 22px;
			-webkit-border-radius: 22px;
			color:#76A1C1;
			font-weight:bold;
		}

		input[type=text]{
			display:block;
			width:400px;
			height:28px;
			outline:none;
			background-color:#CDE8FD;
			-moz-border-radius: 22px;
			border-radius: 22px;
			-webkit-border-radius: 22px;
			color:#76A1C1;
			font-weight:bold;	
		}
	}
}

.noBackground{
	background:none;
}

#storeMainProducts{
	width:822px;
	height:226px;
	margin:10px auto 0px auto;

	#storeSlider{
		width:605px;
		height:226px;
		background-color:$blue;
		margin:0px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;

		.arrowBox{
			width:23px;
			height:32px;
			margin:97px 4px 0px 3px;	

			.arrowLeft{
				background:none;
			}

			.arrowRight{
				background:none;
			}
		}

		.slider{
			width:545px;
			height:192px;
			margin:17px 0px 0px 0px;
			overflow:hidden;
			position:relative;

			#slidesContainer{
				width:3000px;
				position:absolute;
				top:0px;
				left:0px;

				.slideItem{
					width:545px;
					height:192px;
					margin:0px;
					position:relative;

					.slideImage{
						width:288px;
						height:100%;

						img{
							max-height:100%;
						}
					}

					.slideContent{
						width:250px;
						height:100%;
						text-align:justify; 
						text-justify:newspaper;

						.slideItemName{
							font-size:18px;
							color:#FDBD0F;
						}
					}
				}
			}
		}
	}

	#mainProduct{
		width:211px;
		height:226px;
		background-color:$blue;
		margin:0px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;

		#mainProductPic{
			width:153px;
			height:96px;
			margin:10px auto 0px auto;

			img{
				width:149px;
				height:92px;
				border:2px solid #9FC7E8;
			}
		}

		#mainProductContent{
			width:149px;
			height:110px;
			margin:5px auto 0px auto;

			.mainProductTitle{
				font-size:14px;
				color:#FDBD0F;
				font-weight:bold;
			}

			.mainProductContent{
				color:#525252;
				font-size:12px;
				text-align:justify; 
				text-justify:newspaper;				
			}
		}
	}
}

#storePopularProducts{
	width:822px;
	height:295px;
	background-color:$blue;
	margin:10px auto 0px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;	

	.popularItem{
		width:250px;
		height:130px;
		overflow:hidden;
		float:left;
		margin:11px 0px 0px 18px;

		.popularItemPic{
			width:100px;
			height:100px;

			img{
				max-width:100%;
			}
		}

		.popularItemContent{
			width:130px;
			height:130px;

			.popularItemTitle{
				font-size:14px;
				font-weight:bold;
				color:#FDBD0F;
			}

			.popularItemPrice{
				font-size:13px;
				color:#525252;
				font-weight:bold;
			}
		}
	}
}

#resultProducts{
	width:822px;
	height:auto;
	background-color:$blue;
	margin:10px auto 0px auto;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;

	.noResult{
		width:500px;
		height:140px;
		margin:0px auto 0px auto;
		padding:60px 0px 0px 0px;
		text-align:center;
		font-size:14px;
	}

	.productItem{
		width:205px;
		height:226px;
		margin:0px;

		.productItemPic{
			width:153px;
			height:96px;
			margin:10px auto 0px auto;

			img{
				width:149px;
				height:92px;
				border:2px solid #9FC7E8;
			}
		}

		.productItemContent{
			width:149px;
			height:110px;
			margin:5px auto 0px auto;

			.productItemContentTitle{
				font-size:14px;
				color:#FDBD0F;
				font-weight:bold;
			}

			.productItemContentDescription{
				color:#525252;
				font-size:12px;
				text-align:justify; 
				text-justify:newspaper;				
			}
		}
	}
}

#pagination{
	width:822px;
	height:40px;
	text-align:right;
	margin:10px auto 0px auto;
	font-weight:bold;
	color:#FDD967;

	a{
		background:none;
		color:#ABD4FF;
	}
}

#submitSearch{
	display:block;
	width:39px;
	height:25px;
	background:none;
	background-image:url('searchButton.png');	
}

.productPriceAndCart{
	margin:10px auto 0px auto;
	width:100%;
	height:60px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	background-color:$blue;

	.productPriceAndCartAux{
		width:550px;
		height:40px;
		padding:20px 0px 0px 20px;
		position:relative;

		.addToCart{
			font-weight:bold;
			color:#FD7A10;

			input[type=text]{
				width:80px;
				height:22px;
				outline:none;
				background-color:#CDE8FD;
				-moz-border-radius: 16px;
				border-radius: 16px;
				-webkit-border-radius: 16px;
				text-align:center;
			}

			a{
				background:none;
				font-weight:bold;
				color:#FD7A10;
			}
		}
	}
}

#checkout{
	width:600px;
	height:auto;
	position:relative;

	.item{
		width:100%;
		height:70px;
		background-color:$blue;
		margin:0px auto 20px auto;
		-moz-border-radius: 10px;
		border-radius: 10px;
		-webkit-border-radius: 10px;
		padding: 10px 0px 0px 0px;

		img{
			width:50px;
			height:50px;
			border:solid 2px #FFFFFF;
			margin:0px 10px 0px 10px;
		}

		.productName{
			font-weight:bold;
			color:#444444;	
			margin:0px 0px 10px 0px;		
		}

		.contentCart{
			width:500px;
			height:40px;
			position:relative;

			.totalProducts{
				margin:0px 20px 0px 0px;

				input[type=text]{
					width:80px;
					height:22px;
					outline:none;
					background-color:#CDE8FD;
					-moz-border-radius: 16px;
					border-radius: 16px;
					-webkit-border-radius: 16px;
					text-align:center;
				}			
			}

			.bigPriceWidth{
				margin:5px 0px 0px 0px;
				width:130px;
			}
		}
	}
}

.blackPrice{
	font-size:18px;
	color:#444444;
	margin:0px 0px 0px 0px;
	text-align:left;
	width:200px;
	height:50px;
}

.payPalButton{
	margin:0px 10px 0px 0px;

	#payPalButton{
		background:none;
	}
}