<div class="title">
	<span>Checkout</span><br />
	<%= image_tag "line.png" %>
</div>

<div class="initialContent">
	<div class="content left">
		<div id="checkout">
			<%= render :partial => "checkout_item", :collection => @data %>
		</div>

		<div id="finalPrice" class="blackPrice right">
			Total: <%= @final %> <br />
			<img src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" align="right" style="margin-right:7px; margin-top:4px;"> <br /><br />
			<img src="https://www.paypal.com/en_US/i/logo/PayPal_mark_37x23.gif" align="left" style="margin-right:7px; margin-top:6px;"><span style="font-size:11px; font-family: Arial, Verdana;">The safer, easier way to pay.</span>
		</div>
	</div>

	<%= render "rightBar" %>

	<div class="clear"></div>
</div>